.main {
  margin: 20px 20px 0;
  width: 1070px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: unset;
}

.header h1,
.Fsub p {
  margin-bottom: 24px;
}

.Fsub h2 {
  margin-bottom: 12px;
}

.input-search {
  padding: 24px 0px;
}

.submit {
  background: #003da5 url(../image/icon-search-white.webp) no-repeat;
  border: none;
  padding: 12px 18px 12px 41px;
  cursor: pointer;
  background-position: 12px 9px;
  font-size: 16px;
  color: #fff;
  min-height: 17px;
  vertical-align: middle;
}

.submit i {
  margin-right: 5px;
}

.letter {
  display: flex;
  gap: 5px;
}

ol {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  box-sizing: border-box;
}

.letter a li {
  border: 1px solid gray;
  padding: 7px;
  margin-right: 7px;
  margin-bottom: 7px;
  text-decoration: underline;
  min-width: 40px;
  min-height: 40px;
  display: block;
  box-sizing: border-box;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: blue;
}

.drugs a:hover {
  text-decoration: underline;
}

.right a:hover {
  text-decoration: underline;
}

a:active {
  border-style: dotted;
  border-color: black;
}

ol a li:hover {
  color: black;
  text-decoration: none;
}

.Ssup {
  background-color: rgb(238, 237, 236);
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
}

.final {
  display: flex;
  border: none;
}

h2 {
  color: rgb(96, 95, 95);
}

@media (max-width: 1024px) {
  .main {
    width: auto;
    margin: 0px 12px;
  }
}

@media (max-width: 820px) {
  .sup {
    display: block !important;
  }
}
