/* Start Home */
.container {
  position: relative;
}

.container video {
  width: 100%;
}
.content {
  position: absolute;
  bottom: 80px;
  padding-left: 100px;
}
.content h1 {
  color: white;
  font-family: normal;
  font-size: 70px;
  padding-bottom: 40px;
}

.content .text {
  display: flex;
  align-items: center;
  color: white;
  font-size: 22px;
}

.content .text .text1 {
  padding-right: 50px;
}

.content .text .text1 p:hover {
  text-decoration: underline;
  cursor: pointer;
}

.content .text .text2 {
  border: 2px solid #fff;
  border-radius: 40px;
  padding: 10px 25px;
  cursor: pointer;
}

.content .text .text2:hover {
  color: #ffffffe1;
  border-color: #ffffffe1;
  transition: 0.3s;
}

.letters {
  padding: 70px 100px;
}

.letters p {
  font-size: 17px;
  font-weight: bold;
  padding: 20px 10px;
}

.letters .let {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}

.letters .let span {
  width: 50px;
  height: 50px;
  display: flex;
  font-weight: bold;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: 1px solid #8cc5ff;
  padding: 10px;
  border-radius: 50%;
  margin: 5px;
  color: #0057b8;
}

.letters .let span:hover {
  border-color: #0057b8;
  cursor: pointer;
  transition: 0.3s;
}

.doctor {
  position: relative;
  padding: 50px 200px;
}

.doctor .contentdoc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 60px;
}

.doctor .contentdoc .text {
  flex: 0.6;
}
.doctor .contentdoc .text h1 {
  font-size: 45px;
  font-weight: normal;
  padding-bottom: 20px;
}

.doctor .contentdoc .text h3 {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 5px;
}

.doctor .contentdoc .text p {
  padding-bottom: 30px;
  line-height: 1.8;
  font-size: 18px;
}

.doctor .contentdoc .text a {
  color: #0057b8;
}

.doctor .contentdoc .text a:hover {
  color: #5ca0e3;
  transition: 0.3s;
}

.doctor .contentdoc .text button {
  cursor: pointer;
  padding: 20px;
  font-size: 20px;
  color: #0057b8;
  border: 2px solid #0057b8;
  background-color: white;
  border-radius: 30px;
}

.doctor .contentdoc .text button:hover {
  color: #5ca0e3;
  border-color: #5ca0e3;
  transition: 0.3s;
}

.doctor .contentdoc .image img {
  border-radius: 10px;
  width: 450px;
  height: 670px;
  /* margin-left: 150px; */
}

.locations {
  position: relative;
  padding: 20px 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 20px;
}

.locations .box {
  position: relative;
}

.locations .box .text {
  position: absolute;
  bottom: 4px;
  left: 0px;
  color: white;
  width: 400px;
  background-color: #00000080;
  padding: 20px 20px 10px 20px;
  z-index: 2;
  border-radius: 0px 0px 10px 10px;
}

.locations .box h1 {
  font-size: 40px;
  padding: 5px 0;
  /* width: fit-content; */
}

.locations .box p {
  font-size: 20px;
  line-height: 1.5;
  padding: 5px 0;
}

.locations .box input {
  padding: 15px 20px;
  font-size: 20px;
  background-color: white;
  color: #0057b8;
  border: 2px solid #0057b8;
  border-radius: 30px;
  cursor: pointer;
}

.locations .box input:hover {
  color: #5ca0e3;
  transition: 0.3s;
}

.locations .box img {
  width: 400px;
  border-radius: 10px;
}

.linkss {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 70px;
  padding: 50px 60px;
}

.linkss .box h1 {
  padding-bottom: 30px;
  font-weight: normal;
  font-size: 40px;
}

.linkss .box p {
  font-size: 20px;
}

.linkss .box .link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #0057b8;
  font-size: 20px;
  padding: 20px 0;
  border-bottom: 1px solid #d6d6d6;
  cursor: pointer;
}

.linkss .box .link:hover p {
  text-decoration: underline;
  transition: 0.2s;
  color: #5ca0e3;
}

.linkss .box .link i {
  font-size: 15px;
  font-weight: bold;
}
/* End Home */
